In [1]:
import pandas as pd
import numpy as np
import re
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [2]:
df = pd.read_csv("../data/raw/zerodha_kite_reviews_raw.csv")

df["review_date"] = pd.to_datetime(df["review_date"])
df.head()

,reviewId,userName,rating,review_text,review_date,thumbsUpCount,reviewCreatedVersion
0,6f8f3b4c-35d2-4341-9643-db463224271c,Sujay Roy,5,very easy to use,2025-12-12 12:13:27,0,3.9.1
1,cb99c260-3937-42bd-a6f1-af4091f75681,Andy Singh,4,watchlist 7 se baadhao 10 se 15 karo kyuki zer...,2025-12-12 11:53:12,0,NaN
2,e63d683c-fbd6-443f-b043-e1f3817c329a,VARUN KUMAR,1,I am unable to install this app in my mobile,2025-12-12 10:33:28,0,NaN
3,e433065f-ccb0-492e-8d72-550e25e36fdb,rahul kumar,1,give option to type price directly instead of ...,2025-12-12 09:56:28,0,3.10.1
4,92329f60-ac5d-4294-99e5-fc8b017d32b7,Ramchandra Chobe,3,New update - charts are updating. not a good u...,2025-12-12 06:24:09,0,NaN

In [7]:
import nltk
nltk.download("punkt_tab")
nltk.download("punkt")
nltk.download("stopwords")

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\swast\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\swast\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\swast\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [8]:
stop_words = set(stopwords.words("english"))
stop_words.discard("not")
stop_words.discard("no")

def clean_text(text):
    text = text.lower()
    text = re.sub(r"http\S+", "", text)       # remove URLs
    text = re.sub(r"\d+", "", text)           # remove numbers
    text = text.translate(str.maketrans("", "", string.punctuation))
    tokens = word_tokenize(text)
    tokens = [t for t in tokens if t not in stop_words and len(t) > 2]
    return " ".join(tokens)

In [9]:
df["clean_text"] = df["review_text"].apply(clean_text)

df[["review_text", "clean_text"]].head()

,review_text,clean_text
0,very easy to use,easy use
1,watchlist 7 se baadhao 10 se 15 karo kyuki zer...,watchlist baadhao karo kyuki zerodha sirf char...
2,I am unable to install this app in my mobile,unable install app mobile
3,give option to type price directly instead of ...,give option type price directly instead calcul...
4,New update - charts are updating. not a good u...,new update charts updating not good update

In [10]:
df = df[df["clean_text"].str.strip().str.len() > 0]
print("After cleaning:", df.shape)

After cleaning: (2271, 8)

In [11]:
df.to_csv("../data/processed/zerodha_kite_reviews_clean.csv", index=False)